.guide-content h4 {
    @apply text-white font-bold my-1;
}

.guide-content p {
    @apply mb-2;
}

.guide-content ul {
    @apply list-disc pl-5 mb-2;
}

.guide-content ol {
    @apply list-decimal pl-5 mb-2;
}

.guide-content b {
    @apply text-white font-bold;
}

.guide-content i {
    @apply text-slate-400 italic;
}
